@use 'sass:math';
@use 'sass:meta';
@use 'sass:map';
@use 'sass:color';

// Returns a Material Design-style value level of a color, i.e. a multiple of
// 100 in the range 100-900 inclusive.

// @param color $color
// @return number - the color's value level
@function color-level($color) {
  @return min(
    max(
      math.round(
          math.div(
            100 - math.div(color.channel($color, 'lightness', $space: hsl), 1%),
            10
          )
        ) *
        100,
      100
    ),
    900
  );
}

// Generates a map containing a full range of value steps.
// - If one color is provided, that color is assigned to the closest value step
// and other colors are generated automatically.
// - If two colors are provided, both colors are assigned to their respective
// closest value step and the value steps between are interpolated. Value steps
// outside that range are generated automatically from the closest of the two
// colors.

// @requires color-level
// @param  color $color1
// @param  color $color2 [null]
// @return map - a map containing keys {100, 200, .., 900} and corresponding
//               color values
@function make-shades($color1, $color2: null) {
  $level1: color-level($color1);
  $shades: ();

  @if (meta.type-of($color2) != color) {
    @for $i from 1 through 18 {
      // Change loop iterations to 18
      @if $i * 50 == $level1 {
        // Change step increment to 50
        $shades: map.merge($shades, ($i * 50: $color1));
      } @else {
        $shades: map.merge(
          $shades,
          ($i * 50: color.change($color1, $lightness: 100-($i * 5%)))
        );
      }
    }
  } @else {
    $level2: color-level($color2);

    // We always want to work light-to-dark (100, 200, ..., 900)
    @if $level2 < $level1 {
      $tmp: $color1;
      $color1: $color2;
      $color2: $tmp;
      $tmp: $level1;
      $level1: $level2;
      $level2: $tmp;
    }

    @if $level1 > 100 {
      @for $i from 1 to math.div($level1, 50) {
        // Change step increment to 50
        $shades: map.merge(
          $shades,
          ($i * 50: color.change($color1, $lightness: 100-($i * 5%)))
        );
      }
    }
    $shades: map.merge(
      $shades,
      (
        $level1: $color1,
      )
    );
    @for $i from math.div($level1, 50) + 1 to math.div($level2, 50) {
      // Change step increment to 50
      $weight: 100% -
        (
          math.div(
            $i - math.div($level1, 50),
            math.div($level2, 50) - math.div($level1, 50)
          )
        ) *
        100%;
      $shades: map.merge(
        $shades,
        ($i * 50: color.mix($color1, $color2, $weight))
      ); // Change step increment to 50
    }
    $shades: map.merge(
      $shades,
      (
        $level2: $color2,
      )
    );
    @if $level2 < 900 {
      @for $i from math.div($level2, 50) + 1 through 18 {
        // Change loop iterations to 18, and step increment to 50
        $shades: map.merge(
          $shades,
          ($i * 50: color.change($color2, $lightness: 100-($i * 5%)))
        );
      }
    }
  }
  @return $shades;
}
