@use 'sass:math';
@use './layout';

$grid-max-width: 1440 !default;
$grid-columns: 16 !default;
$grid-gutter: layout.$base-unit * 2 !default;

$gap-ratios: (
  xxs: #{math.div(layout.$base-unit, 4)}px,
  xs: #{math.div(layout.$base-unit, 2)}px,
  sm: #{layout.$base-unit}px,
  md: #{layout.$base-unit * 2}px,
  lg: #{layout.$base-unit * 3}px,
  xl: #{layout.$base-unit * 4}px,
  xxl: #{layout.$base-unit * 6}px,
) !default;
