@use 'sass:math';
@use 'sass:map';
@use '../config';
@use '../variables/breakpoints';
@use './mixins';

// grid styles

@mixin defaults-root-styles {
  box-sizing: border-box;
  display: flex;
  &.flex {
    flex: 1;
  }
  &.distributed {
    > * {
      flex: 1;
    }
  }
}

@mixin grid {
  .nb-grid {
    @include defaults-root-styles;
    @include mixins.generate-styles('');
    @each $breakpoint in map.keys(breakpoints.$breakpoints) {
      @media only screen and (min-width: #{map.get(breakpoints.$breakpoints, $breakpoint)}px) {
        @include mixins.generate-styles(#{$breakpoint}#{'-'});
      }
    }
    &.grow {
      flex: 1 1 0;
    }
    &.shrink-1 {
      flex-shrink: 1;
    }
    &.shrink-0 {
      flex-shrink: 0;
    }
    &.distributed {
      > * {
        flex: 1;
      }
    }
  }
}
